# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/spritejs.iml
.idea/workspace.xml
package.json
node_modules/.bin/
node_modules/abbrev/LICENSE
node_modules/abbrev/README.md
node_modules/abbrev/abbrev.js
node_modules/ansi-regex/index.js
node_modules/ansi-regex/license
node_modules/ansi-regex/readme.md
node_modules/aproba/LICENSE
node_modules/aproba/README.md
node_modules/aproba/index.js
node_modules/are-we-there-yet/CHANGES.md
node_modules/are-we-there-yet/LICENSE
node_modules/are-we-there-yet/README.md
node_modules/are-we-there-yet/index.js
node_modules/are-we-there-yet/tracker-base.js
node_modules/are-we-there-yet/tracker-group.js
node_modules/are-we-there-yet/tracker-stream.js
node_modules/are-we-there-yet/tracker.js
node_modules/balanced-match/.npmignore
node_modules/balanced-match/LICENSE.md
node_modules/balanced-match/README.md
node_modules/balanced-match/index.js
node_modules/brace-expansion/LICENSE
node_modules/brace-expansion/README.md
node_modules/brace-expansion/index.js
node_modules/canvas/.github/
node_modules/canvas/.travis.yml
node_modules/canvas/.vscode/
node_modules/canvas/CHANGELOG.md
node_modules/canvas/Readme.md
node_modules/canvas/appveyor.yml
node_modules/canvas/binding.gyp
node_modules/canvas/browser.js
node_modules/canvas/build/
node_modules/canvas/index.js
node_modules/canvas/lib/
node_modules/canvas/src/
node_modules/canvas/util/
node_modules/chownr/LICENSE
node_modules/chownr/README.md
node_modules/chownr/chownr.js
node_modules/code-point-at/index.js
node_modules/code-point-at/license
node_modules/code-point-at/readme.md
node_modules/concat-map/.travis.yml
node_modules/concat-map/LICENSE
node_modules/concat-map/README.markdown
node_modules/concat-map/example/
node_modules/concat-map/index.js
node_modules/concat-map/test/
node_modules/console-control-strings/LICENSE
node_modules/console-control-strings/README.md
node_modules/console-control-strings/README.md~
node_modules/console-control-strings/index.js
node_modules/core-util-is/LICENSE
node_modules/core-util-is/README.md
node_modules/core-util-is/float.patch
node_modules/core-util-is/lib/
node_modules/core-util-is/test.js
node_modules/debug/.coveralls.yml
node_modules/debug/.eslintrc
node_modules/debug/.npmignore
node_modules/debug/.travis.yml
node_modules/debug/CHANGELOG.md
node_modules/debug/LICENSE
node_modules/debug/Makefile
node_modules/debug/README.md
node_modules/debug/component.json
node_modules/debug/karma.conf.js
node_modules/debug/node.js
node_modules/debug/src/
node_modules/deep-extend/CHANGELOG.md
node_modules/deep-extend/LICENSE
node_modules/deep-extend/README.md
node_modules/deep-extend/index.js
node_modules/deep-extend/lib/
node_modules/delegates/.npmignore
node_modules/delegates/History.md
node_modules/delegates/License
node_modules/delegates/Makefile
node_modules/delegates/Readme.md
node_modules/delegates/index.js
node_modules/delegates/test/
node_modules/detect-libc/.npmignore
node_modules/detect-libc/LICENSE
node_modules/detect-libc/README.md
node_modules/detect-libc/bin/
node_modules/detect-libc/
lib/
node_modules/fs-minipass/LICENSE
node_modules/fs-minipass/README.md
node_modules/fs-minipass/index.js
node_modules/fs.realpath/LICENSE
node_modules/fs.realpath/README.md
node_modules/fs.realpath/index.js
node_modules/fs.realpath/old.js
node_modules/gauge/CHANGELOG.md
node_modules/gauge/LICENSE
node_modules/gauge/README.md
node_modules/gauge/base-theme.js
node_modules/gauge/error.js
node_modules/gauge/has-color.js
node_modules/gauge/index.js
node_modules/gauge/plumbing.js
node_modules/gauge/process.js
node_modules/gauge/progress-bar.js
node_modules/gauge/render-template.js
node_modules/gauge/set-immediate.js
node_modules/gauge/set-interval.js
node_modules/gauge/spin.js
node_modules/gauge/template-item.js
node_modules/gauge/theme-set.js
node_modules/gauge/themes.js
node_modules/gauge/wide-truncate.js
node_modules/glob/LICENSE
node_modules/glob/README.md
node_modules/glob/changelog.md
node_modules/glob/common.js
node_modules/glob/glob.js
node_modules/glob/sync.js
node_modules/has-unicode/LICENSE
node_modules/has-unicode/README.md
node_modules/has-unicode/index.js
node_modules/iconv-lite/Changelog.md
node_modules/iconv-lite/LICENSE
node_modules/iconv-lite/README.md
node_modules/iconv-lite/encodings/
node_modules/iconv-lite/lib/
node_modules/ignore-walk/LICENSE
node_modules/ignore-walk/README.md
node_modules/ignore-walk/index.js
node_modules/inflight/LICENSE
node_modules/inflight/README.md
node_modules/inflight/inflight.js
node_modules/inherits/LICENSE
node_modules/inherits/README.md
node_modules/inherits/inherits.js
node_modules/inherits/inherits_browser.js
node_modules/ini/LICENSE
node_modules/ini/README.md
node_modules/ini/ini.js
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/license
node_modules/is-fullwidth-code-point/readme.md
node_modules/isarray/.npmignore
node_modules/isarray/.travis.yml
node_modules/isarray/Makefile
node_modules/isarray/README.md
node_modules/isarray/component.json
node_modules/isarray/index.js
node_modules/isarray/test.js
node_modules/minimatch/LICENSE
node_modules/minimatch/README.md
node_modules/minimatch/minimatch.js
node_modules/minimist/.travis.yml
node_modules/minimist/LICENSE
node_modules/minimist/example/
node_modules/minimist/index.js
node_modules/minimist/readme.markdown
node_modules/minimist/test/
node_modules/minipass/LICENSE
node_modules/minipass/README.md
node_modules/minipass/index.js
node_modules/minizlib/LICENSE
node_modules/minizlib/README.md
node_modules/minizlib/constants.js
node_modules/minizlib/index.js
node_modules/mkdirp/.travis.yml
node_modules/mkdirp/LICENSE
node_modules/mkdirp/bin/
node_modules/mkdirp/examples/
node_modules/mkdirp/index.js
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/test/
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/readme.md
node_modules/nan/CHANGELOG.md
node_modules/nan/LICENSE.md
node_modules/nan/README.md
Would remov
e node_modules/nan/doc/
node_modules/nan/include_dirs.js
node_modules/nan/nan.h
node_modules/nan/nan_callbacks.h
node_modules/nan/nan_callbacks_12_inl.h
node_modules/nan/nan_callbacks_pre_12_inl.h
node_modules/nan/nan_converters.h
node_modules/nan/nan_converters_43_inl.h
node_modules/nan/nan_converters_pre_43_inl.h
node_modules/nan/nan_define_own_property_helper.h
node_modules/nan/nan_implementation_12_inl.h
node_modules/nan/nan_implementation_pre_12_inl.h
node_modules/nan/nan_json.h
node_modules/nan/nan_maybe_43_inl.h
node_modules/nan/nan_maybe_pre_43_inl.h
node_modules/nan/nan_new.h
node_modules/nan/nan_object_wrap.h
node_modules/nan/nan_persistent_12_inl.h
node_modules/nan/nan_persistent_pre_12_inl.h
node_modules/nan/nan_private.h
node_modules/nan/nan_string_bytes.h
node_modules/nan/nan_typedarray_contents.h
node_modules/nan/nan_weak.h
node_modules/nan/tools/1to2.js
node_modules/nan/tools/README.md
node_modules/needle/README.md
node_modules/needle/bin/
node_modules/needle/examples/
node_modules/needle/lib/
node_modules/needle/license.txt
node_modules/needle/note.xml
node_modules/needle/note.xml.1
node_modules/needle/test/
node_modules/node-pre-gyp/CHANGELOG.md
node_modules/node-pre-gyp/LICENSE
node_modules/node-pre-gyp/README.md
node_modules/node-pre-gyp/appveyor.yml
node_modules/node-pre-gyp/bin/
node_modules/node-pre-gyp/contributing.md
node_modules/node-pre-gyp/lib/build.js
node_modules/node-pre-gyp/lib/clean.js
node_modules/node-pre-gyp/lib/configure.js
node_modules/node-pre-gyp/lib/info.js
node_modules/node-pre-gyp/lib/install.js
node_modules/node-pre-gyp/lib/node-pre-gyp.js
node_modules/node-pre-gyp/lib/package.js
node_modules/node-pre-gyp/lib/pre-binding.js
node_modules/node-pre-gyp/lib/publish.js
node_modules/node-pre-gyp/lib/rebuild.js
node_modules/node-pre-gyp/lib/reinstall.js
node_modules/node-pre-gyp/lib/reveal.js
node_modules/node-pre-gyp/lib/testbinary.js
node_modules/node-pre-gyp/lib/testpackage.js
node_modules/node-pre-gyp/lib/unpublish.js
node_modules/node-pre-gyp/lib/util/abi_crosswalk.json
node_modules/node-pre-gyp/lib/util/compile.js
node_modules/node-pre-gyp/lib/util/handle_gyp_opts.js
node_modules/node-pre-gyp/lib/util/napi.js
node_modules/node-pre-gyp/lib/util/nw-pre-gyp/index.html
node_modules/node-pre-gyp/lib/util/s3_setup.js
node_modules/node-pre-gyp/lib/util/versioning.js
node_modules/nopt/.npmignore
node_modules/nopt/.travis.yml
node_modules/nopt/CHANGELOG.md
node_modules/nopt/LICENSE
node_modules/nopt/README.md
node_modules/nopt/bin/
node_modules/nopt/examples/
node_modules/nopt/lib/
node_modules/nopt/test/
node_modules/npm-bundled/LICENSE
node_modules/npm-bundled/README.md
node_modules/npm-bundled/index.js
node_modules/npm-packlist/LICENSE
node_modules/npm-packlist/README.md
node_modules/npm-packlist/index.js
node_modules/npmlog/CHANGELOG.md
node_modules/npmlog/LICENSE
node_modules/npmlog/README.md
node_modules/npmlog/log.js
node_modules/number-is-nan/index.js
node_modules/number-is-nan/license
node_modules/number-is-nan/readme.md

node_modules/object-assign/index.js
node_modules/object-assign/license
node_modules/object-assign/readme.md
node_modules/once/LICENSE
node_modules/once/README.md
node_modules/once/once.js
node_modules/os-homedir/index.js
node_modules/os-homedir/license
node_modules/os-homedir/readme.md
node_modules/os-tmpdir/index.js
node_modules/os-tmpdir/license
node_modules/os-tmpdir/readme.md
node_modules/osenv/LICENSE
node_modules/osenv/README.md
node_modules/osenv/osenv.js
node_modules/path-is-absolute/index.js
node_modules/path-is-absolute/license
node_modules/path-is-absolute/readme.md
node_modules/process-nextick-args/index.js
node_modules/process-nextick-args/license.md
node_modules/process-nextick-args/readme.md
node_modules/rc/LICENSE.APACHE2
node_modules/rc/LICENSE.BSD
node_modules/rc/LICENSE.MIT
node_modules/rc/README.md
node_modules/rc/browser.js
node_modules/rc/cli.js
node_modules/rc/index.js
node_modules/rc/lib/
node_modules/rc/node_modules/minimist/.travis.yml
node_modules/rc/node_modules/minimist/LICENSE
node_modules/rc/node_modules/minimist/example/
node_modules/rc/node_modules/minimist/index.js
node_modules/rc/node_modules/minimist/readme.markdown
node_modules/rc/node_modules/minimist/test/
node_modules/rc/test/
node_modules/readable-stream/.travis.yml
node_modules/readable-stream/CONTRIBUTING.md
node_modules/readable-stream/GOVERNANCE.md
node_modules/readable-stream/LICENSE
node_modules/readable-stream/README.md
node_modules/readable-stream/doc/
node_modules/readable-stream/duplex-browser.js
node_modules/readable-stream/duplex.js
node_modules/readable-stream/lib/
node_modules/readable-stream/passthrough.js
node_modules/readable-stream/readable-browser.js
node_modules/readable-stream/readable.js
node_modules/readable-stream/transform.js
node_modules/readable-stream/writable-browser.js
node_modules/readable-stream/writable.js
node_modules/rimraf/LICENSE
node_modules/rimraf/README.md
node_modules/rimraf/bin.js
node_modules/rimraf/rimraf.js
node_modules/safe-buffer/LICENSE
node_modules/safe-buffer/README.md
node_modules/safe-buffer/index.d.ts
node_modules/safe-buffer/index.js
node_modules/safer-buffer/LICENSE
node_modules/safer-buffer/Porting-Buffer.md
node_modules/safer-buffer/Readme.md
node_modules/safer-buffer/dangerous.js
node_modules/safer-buffer/safer.js
node_modules/safer-buffer/tests.js
node_modules/sax/LICENSE
node_modules/sax/README.md
node_modules/sax/lib/
node_modules/semver/LICENSE
node_modules/semver/README.md
node_modules/semver/bin/
node_modules/semver/range.bnf
node_modules/semver/semver.js
node_modules/set-blocking/CHANGELOG.md
node_modules/set-blocking/LICENSE.txt
node_modules/set-blocking/README.md
node_modules/set-blocking/index.js
node_modules/signal-exit/CHANGELOG.md
node_modules/signal-exit/LICENSE.txt
node_modules/signal-exit/README.md
node_modules/signal-exit/index.js
node_modules/signal-exit/signals.js
node_modules/string-width/index.js
node_modules/string-width/license
node_modules/string-width/readme.md
nod
e_modules/string_decoder/.travis.yml
node_modules/string_decoder/LICENSE
node_modules/string_decoder/README.md
node_modules/string_decoder/lib/
node_modules/strip-ansi/index.js
node_modules/strip-ansi/license
node_modules/strip-ansi/readme.md
node_modules/strip-json-comments/index.js
node_modules/strip-json-comments/license
node_modules/strip-json-comments/readme.md
node_modules/tar/LICENSE
node_modules/tar/README.md
node_modules/tar/index.js
node_modules/tar/lib/
node_modules/util-deprecate/History.md
node_modules/util-deprecate/LICENSE
node_modules/util-deprecate/README.md
node_modules/util-deprecate/browser.js
node_modules/util-deprecate/node.js
node_modules/wide-align/LICENSE
node_modules/wide-align/README.md
node_modules/wide-align/align.js
node_modules/wrappy/LICENSE
node_modules/wrappy/README.md
node_modules/wrappy/wrappy.js
node_modules/yallist/LICENSE
node_modules/yallist/README.md
node_modules/yallist/iterator.js
node_modules/yallist/yallist.js
package-lock.json
